Importing the Dependencies

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
#loading the dataset to a Pandas Data frame
credit_card_data =pd.read_csv('/creditcard.csv')

In [7]:
#first five rows of data set
credit_card_data.head

<bound method NDFrame.head of         Time        V1        V2        V3        V4        V5        V6  \
0          0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1          0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2          1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3          1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4          2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
...      ...       ...       ...       ...       ...       ...       ...
95157  65189  1.142364 -1.090177  0.511068 -0.792356 -1.160044  0.134166
95158  65190 -2.145283  1.280406  0.014577 -2.003358  1.479294  4.673049
95159  65190 -3.715715  3.870511 -1.525809  0.082535 -0.244009 -0.901579
95160  65190 -5.164795  4.510526 -0.994499 -1.110853 -0.913228 -0.889076
95161  65191 -1.430966  1.192670  1.237388  1.074059 -0.997949  0.687186

             V7        V8        V9  ...       V21       V22       V23  \
0      0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474
1     -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288
2      0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412
3      0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321
4      0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458
...         ...       ...       ...  ...       ...       ...       ...
95157 -0.997184  0.236721 -0.583865  ...  0.399798  0.815983 -0.172587
95158 -2.008023 -2.933663  0.036717  ...  0.276433 -0.038006  0.085076
95159  0.708830  0.070491  2.349423  ... -0.327180  0.573451  0.266379
95160  0.373572  0.361552  3.841062  ... -0.908623 -1.154210  0.300341
95161 -1.045570  1.012203  0.095426  ...       NaN       NaN       NaN

            V24       V25       V26       V27       V28  Amount  Class
0      0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62    0.0
1     -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69    0.0
2     -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66    0.0
3     -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50    0.0
4      0.141267 -0.206010  0.502292  0.219422  0.215153   69.99    0.0
...         ...       ...       ...       ...       ...     ...    ...
95157 -0.298962  0.310993 -0.077793  0.011223  0.019004  106.00    0.0
95158  1.049870  0.489570  1.045371 -0.363337 -0.222526   34.61    0.0
95159  0.040564 -0.175983 -0.494220  0.257349 -0.309196    0.89    0.0
95160 -0.102776  0.817800  0.201861  2.384092  1.576142    7.18    0.0
95161       NaN       NaN       NaN       NaN       NaN     NaN    NaN

[95162 rows x 31 columns]>

In [8]:
#null values
credit_card_data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         Time     V1     V2     V3     V4     V5     V6     V7     V8     V9  \
0      False  False  False  False  False  False  False  False  False  False
1      False  False  False  False  False  False  False  False  False  False
2      False  False  False  False  False  False  False  False  False  False
3      False  False  False  False  False  False  False  False  False  False
4      False  False  False  False  False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
95157  False  False  False  False  False  False  False  False  False  False
95158  False  False  False  False  False  False  False  False  False  False
95159  False  False  False  False  False  False  False  False  False  False
95160  False  False  False  False  False  False  False  False  False  False
95161  False  False  False  False  False  False  False  False  False  False

       ...    V21    V22    V23    V24    V25    V26    V27    V28  Amount  \
0      ...  False  False  False  False  False  False  False  False   False
1      ...  False  False  False  False  False  False  False  False   False
2      ...  False  False  False  False  False  False  False  False   False
3      ...  False  False  False  False  False  False  False  False   False
4      ...  False  False  False  False  False  False  False  False   False
...    ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
95157  ...  False  False  False  False  False  False  False  False   False
95158  ...  False  False  False  False  False  False  False  False   False
95159  ...  False  False  False  False  False  False  False  False   False
95160  ...  False  False  False  False  False  False  False  False   False
95161  ...   True   True   True   True   True   True   True   True    True

       Class
0      False
1      False
2      False
3      False
4      False
...      ...
95157  False
95158  False
95159  False
95160  False
95161   True

[95162 rows x 31 columns]>

In [9]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95162 entries, 0 to 95161
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    95162 non-null  int64
 1   V1      95162 non-null  float64
 2   V2      95162 non-null  float64
 3   V3      95162 non-null  float64
 4   V4      95162 non-null  float64
 5   V5      95162 non-null  float64
 6   V6      95162 non-null  float64
 7   V7      95162 non-null  float64
 8   V8      95162 non-null  float64
 9   V9      95162 non-null  float64
 10  V10     95162 non-null  float64
 11  V11     95162 non-null  float64
 12  V12     95162 non-null  float64
 13  V13     95161 non-null  float64
 14  V14     95161 non-null  float64
 15  V15     95161 non-null  float64
 16  V16     95161 non-null  float64
 17  V17     95161 non-null  float64
 18  V18     95161 non-null  float64
 19  V19     95161 non-null  float64
 20  V20     95161 non-null  float64
 21  V21     95161 non-null  float64
 22  V22     95161 non-null  float64
 23  V23     95161 non-null  float64
 24  V24     95161 non-null  float64
 25  V25     95161 non-null  float64
 26  V26     95161 non-null  float64
 27  V27     95161 non-null  float64
 28  V28     95161 non-null  float64
 29  Amount  95161 non-null  float64
 30  Class   95161 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 22.5 MB

In [11]:
#checking legit and fraud transation
credit_card_data['Class'].value_counts()

0.0    94944
1.0      217
Name: Class, dtype: int64

This data is highly unbalanced 
seperate the fraudulent data and genuine data

In [13]:
legit=credit_card_data[credit_card_data.Class == 0]
fraud=credit_card_data[credit_card_data.Class == 1]

In [14]:
print(legit.shape)

(94944, 31)

In [15]:
print(fraud.shape)

(217, 31)

In [16]:
#statistical measures of the data 
legit.Amount.describe()

count    94944.000000
mean        98.685374
std        267.432993
min          0.000000
25%          7.600000
50%         26.720000
75%         89.752500
max      19656.530000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     217.000000
mean      109.784286
std       243.927116
min         0.000000
25%         1.000000
50%         7.580000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [18]:
#compare the values for both thetransactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,41232.783620,-0.25064,-0.047145,0.696491,0.15125,-0.270069,0.097914,-0.093292,0.048787,-0.032333,...,0.043401,-0.031938,-0.107340,-0.037071,0.009933,0.13190,0.026607,-0.000819,0.001332,98.685374
1.0,35870.354839,-6.16618,4.217965,-8.087819,4.99603,-4.444345,-1.845983,-6.417590,2.796291,-2.953535,...,0.354728,0.731128,-0.127758,-0.247689,-0.102596,0.20696,0.097699,0.532822,0.035472,109.784286

UNDER SAMPLING 
building a sample dataset containg similar distributions of fraud and legit transactions
No of Fraudulent transations = 217

In [19]:
legit_sample= legit.sample(n=217)

In [20]:
#Concatetating the two dataframes
new_dataset=pd.concat([legit_sample,fraud], axis =0)

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3087,2645,1.084194,-0.218197,1.009381,1.007382,-0.726928,0.202677,-0.617984,0.094905,0.665034,...,0.247874,0.651287,-0.243886,-0.414413,0.475379,-0.212372,0.066090,0.048910,79.80,0.0
7024,9207,-1.211744,1.161062,2.390853,-0.352334,0.234765,-0.262719,1.106050,-0.813445,3.131096,...,-0.585687,-0.022905,-0.291335,0.369568,0.169435,0.242127,0.091500,-0.500525,0.01,0.0
11334,19749,-3.640464,2.783323,-2.561302,1.438460,-2.220984,-1.558230,-0.903554,2.154016,0.762929,...,0.048539,0.177143,0.019497,0.678931,-0.482649,-0.451892,0.311516,-0.005135,89.99,0.0
41494,40707,1.401412,-0.323197,0.608667,-0.676899,-0.972389,-0.990968,-0.433772,-0.287976,-1.018066,...,-0.076249,-0.261673,0.111024,0.412947,0.288866,-0.485821,0.021031,0.026849,12.00,0.0
46237,42694,-3.106603,-3.601270,0.852923,0.082472,0.319299,-0.686586,-1.322828,0.781221,-1.623562,...,0.942173,0.988229,0.478072,-0.261906,-0.231025,-0.022578,0.002541,-0.386346,295.90,0.0

In [22]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
92777,64093,-6.133987,2.941499,-5.593986,3.258845,-5.315512,-0.637328,-4.476488,1.695994,-1.606743,...,0.868340,0.793736,0.217347,-0.021985,0.145882,0.665088,-1.684186,0.310195,294.90,1.0
93424,64412,-1.348042,2.522821,-0.782432,4.083047,-0.662280,-0.598776,-1.943552,-0.329579,-1.853274,...,1.079871,-0.352026,-0.218358,0.125866,-0.074180,0.179116,0.612580,0.234206,1.00,1.0
93486,64443,1.079524,0.872988,-0.303850,2.755369,0.301688,-0.350284,-0.042848,0.246625,-0.779176,...,-0.023255,-0.158601,-0.038806,-0.060327,0.358339,0.076984,0.018936,0.060574,0.00,1.0
93788,64585,1.080433,0.962831,-0.278065,2.743318,0.412364,-0.320778,0.041290,0.176170,-0.966952,...,-0.008996,-0.057036,-0.053692,-0.026373,0.400300,0.072828,0.027043,0.063238,0.00,1.0
94218,64785,-8.744415,-3.420468,-4.850575,6.606846,-2.800546,0.105512,-3.269801,0.940378,-2.558691,...,0.102913,0.311626,-4.129195,0.034639,-1.133631,0.272265,1.841307,-1.796363,720.38,1.0

In [23]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,42602.317972,-0.335868,0.007153,0.725439,0.042741,-0.292821,0.135186,-0.036145,0.048631,-0.248163,...,-0.022454,-0.027755,-0.059271,-0.017030,-0.001522,0.114089,0.021302,-0.000335,-0.019883,97.737281
1.0,35870.354839,-6.166180,4.217965,-8.087819,4.996030,-4.444345,-1.845983,-6.417590,2.796291,-2.953535,...,0.354728,0.731128,-0.127758,-0.247689,-0.102596,0.206960,0.097699,0.532822,0.035472,109.784286

Splitting the data into features and targets

In [24]:
X= new_dataset.drop(columns='Class', axis=1)
Y=new_dataset['Class']

In [25]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
3087    2645  1.084194 -0.218197  1.009381  1.007382 -0.726928  0.202677
7024    9207 -1.211744  1.161062  2.390853 -0.352334  0.234765 -0.262719
11334  19749 -3.640464  2.783323 -2.561302  1.438460 -2.220984 -1.558230
41494  40707  1.401412 -0.323197  0.608667 -0.676899 -0.972389 -0.990968
46237  42694 -3.106603 -3.601270  0.852923  0.082472  0.319299 -0.686586
...      ...       ...       ...       ...       ...       ...       ...
92777  64093 -6.133987  2.941499 -5.593986  3.258845 -5.315512 -0.637328
93424  64412 -1.348042  2.522821 -0.782432  4.083047 -0.662280 -0.598776
93486  64443  1.079524  0.872988 -0.303850  2.755369  0.301688 -0.350284
93788  64585  1.080433  0.962831 -0.278065  2.743318  0.412364 -0.320778
94218  64785 -8.744415 -3.420468 -4.850575  6.606846 -2.800546  0.105512

             V7        V8        V9  ...       V20       V21       V22  \
3087  -0.617984  0.094905  0.665034  ...  0.106188  0.247874  0.651287
7024   1.106050 -0.813445  3.131096  ...  0.722249 -0.585687 -0.022905
11334 -0.903554  2.154016  0.762929  ... -0.137063  0.048539  0.177143
41494 -0.433772 -0.287976 -1.018066  ...  0.182436 -0.076249 -0.261673
46237 -1.322828  0.781221 -1.623562  ...  1.643774  0.942173  0.988229
...         ...       ...       ...  ...       ...       ...       ...
92777 -4.476488  1.695994 -1.606743  ... -0.815086  0.868340  0.793736
93424 -1.943552 -0.329579 -1.853274  ...  0.348896  1.079871 -0.352026
93486 -0.042848  0.246625 -0.779176  ... -0.252115 -0.023255 -0.158601
93788  0.041290  0.176170 -0.966952  ... -0.172659 -0.008996 -0.057036
94218 -3.269801  0.940378 -2.558691  ... -1.818315  0.102913  0.311626

            V23       V24       V25       V26       V27       V28  Amount
3087  -0.243886 -0.414413  0.475379 -0.212372  0.066090  0.048910   79.80
7024  -0.291335  0.369568  0.169435  0.242127  0.091500 -0.500525    0.01
11334  0.019497  0.678931 -0.482649 -0.451892  0.311516 -0.005135   89.99
41494  0.111024  0.412947  0.288866 -0.485821  0.021031  0.026849   12.00
46237  0.478072 -0.261906 -0.231025 -0.022578  0.002541 -0.386346  295.90
...         ...       ...       ...       ...       ...       ...     ...
92777  0.217347 -0.021985  0.145882  0.665088 -1.684186  0.310195  294.90
93424 -0.218358  0.125866 -0.074180  0.179116  0.612580  0.234206    1.00
93486 -0.038806 -0.060327  0.358339  0.076984  0.018936  0.060574    0.00
93788 -0.053692 -0.026373  0.400300  0.072828  0.027043  0.063238    0.00
94218 -4.129195  0.034639 -1.133631  0.272265  1.841307 -1.796363  720.38

[434 rows x 30 columns]

In [26]:
print(Y)

3087     0.0
7024     0.0
11334    0.0
41494    0.0
46237    0.0
        ...
92777    1.0
93424    1.0
93486    1.0
93788    1.0
94218    1.0
Name: Class, Length: 434, dtype: float64

In [27]:
#Splitting the data into training and testing data
X_train, X_test,Y_train,Y_test = train_test_split(X, Y, test_size= 0.2, stratify=Y,random_state=2)

In [28]:
print(X.shape, X_train.shape, X_test.shape)

(434, 30) (347, 30) (87, 30)

In [30]:
#Model training 
#Logistic Regression
model = LogisticRegression()
#training the Data 
model.fit(X_train,Y_train)

LogisticRegression()

In [35]:
#Accuracy Score
#accuaracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [37]:
print ('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.9711815561959655

In [38]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction,Y_test)

In [40]:
print ('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.9080459770114943